@model System.Collections.Generic.IEnumerable<Mst.Project.ViewModel.CustomersViewModel>

@{
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table class="table">
   <tr>
       <th>
           @Html.DisplayNameFor(model => model.CustomerName)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.ContactLastName)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.ContactFirstName)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Phone)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.AddressLine1)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.AddressLine2)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.City)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.State)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.PostalCode)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Country)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.SalesRepEmployeeNumber)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.CreditLimit)
       </th>
       <th>
           @Html.Label("", "Ýþlemler")
       </th>
   </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>
               @(item.CustomerName)
           </td>
           <td>
               @(item.ContactLastName)
           </td>
           <td>
               @(item.ContactFirstName)
           </td>
           <td>
               @(item.Phone)
           </td>
           <td>
               @(item.AddressLine1)
           </td>
           <td>
               @(item.AddressLine2)
           </td>
           <td>
               @(item.City)
           </td>
           <td>
               @(item.State)
           </td>
           <td>
               @(item.PostalCode)
           </td>
           <td>
               @(item.Country)
           </td>
           <td>
               @(item.SalesRepEmployeeNumber)
           </td>
           <td>
               @(item.CreditLimit)
           </td>
           <td>
               @Html.ActionLink("Detay", "Detail", new { customerNumber = item.CustomerNumber }) |
               @Html.ActionLink("Düzenle", "Edit", new { customerNumber = item.CustomerNumber }) |
               @Html.ActionLink("Sil", "Delete", new { customerNumber = item.CustomerNumber })
           </td>
       </tr>
   }
</table>
<div>
       <ul>
           <li>@Html.ActionLink("Anasayfaya dön", "Index", "Home")</li>
       </ul>
</div>