@model System.Collections.Generic.IEnumerable<Mst.Project.ViewModel.EmployeesViewModel>

@{
}

<h2>Liste</h2>

<p>
    @Html.ActionLink("Ekle", "Create")
</p>
<table class="table">
   <tr>
       <th>
           @Html.DisplayNameFor(model => model.LastName)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.FirstName)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Extension)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.Email)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.OfficeCode)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.ReportsTo)
       </th>
       <th>
           @Html.DisplayNameFor(model => model.JobTitle)
       </th>
       <th>
           @Html.Label("", "Ýþlemler")
       </th>
   </tr>
   @foreach (var item in Model)
   {
       <tr>
           <td>
               @(item.LastName)
           </td>
           <td>
               @(item.FirstName)
           </td>
           <td>
               @(item.Extension)
           </td>
           <td>
               @(item.Email)
           </td>
           <td>
               @(item.OfficeCode)
           </td>
           <td>
               @(item.ReportsTo)
           </td>
           <td>
               @(item.JobTitle)
           </td>
           <td>
               @Html.ActionLink("Detay", "Detail", new { employeeNumber = item.EmployeeNumber }) |
               @Html.ActionLink("Düzenle", "Edit", new { employeeNumber = item.EmployeeNumber }) |
               @Html.ActionLink("Sil", "Delete", new { employeeNumber = item.EmployeeNumber })
           </td>
       </tr>
   }
</table>
<div>
       <ul>
           <li>@Html.ActionLink("Anasayfaya dön", "Index", "Home")</li>
       </ul>
</div>